.topbar{
    background-color: rgb(255, 255, 255);
    color: rgb(26, 26, 132);
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0% ;
    z-index: 2;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left{

            .logo{
                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                color:inherit ;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }


    }

}